version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: customer360_db
    environment:
      POSTGRES_USER: dataeng
      POSTGRES_PASSWORD: devpass123
      POSTGRES_DB: customer360
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - customer360_network

  airflow:
    image: apache/airflow:2.8.1-python3.11
    container_name: customer360_airflow
    user: "50000:0"
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://dataeng:2003@postgres:5432/customer360
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
      _AIRFLOW_DB_MIGRATE: 'true'
      _AIRFLOW_WWW_USER_CREATE: 'true'
      _AIRFLOW_WWW_USER_USERNAME: admin
      _AIRFLOW_WWW_USER_PASSWORD: admin
    ports:
      - "8080:8080"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./data:/opt/airflow/data
    depends_on:
      - postgres
    networks:
      - customer360_network
    command: standalone

volumes:
  postgres_data:

networks:
  customer360_network:
    driver: bridge
